
/*body {background-color: powderblue;}*/
label   {color: blue;}
p    {color: red;}

.a-container{
    border: 1px solid royalblue;
    width: 400px;
    height: auto;
    margin: 30px;
    padding: 20px;
}
.b{
    padding: 10px;
}

.b-submit{
    border: green;
    width: 5px 20px;
    height: auto;
    padding: 10px;
   /* position: absolute;*/
}